[submodule "site/pack/myplugins/opt/vim-dim"]
	path = site/pack/myplugins/opt/vim-dim
	url = https://github.com/jeffkreeftmeijer/vim-dim.git 
[submodule "site/pack/myplugins/start/vim-fugitive"]
	path = site/pack/myplugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git 
